<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>

    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <main>
        <div class="calendar">
            <h2 id="month">Março - 2024</h2>
            <ul id="days">
                <li><strong>1</strong></li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
            </ul>
        </div>
    </main>
</body>
</html>